[submodule "modules/HoloLens2Stream"]
	path = modules/HoloLens2Stream
	url = git@github.com:IkbeomJeon/HoloLens2Stream.git
[submodule "modules/ARRCObjectron"]
	path = modules/ARRCObjectron
	url = git@gitlab.com:IkbeomJeon/ARRCObjectron.git
