[submodule "ARRCObjectron"]
	path = Modules/ARRCObjectron
	url = git@gitlab.com:IkbeomJeon/arrcobjectron.git
	branch = master

[submodule "HoloLens2Stream"]
	path = Modules/HoloLens2Stream
	url = git@github.com:IkbeomJeon/HoloLens2Stream.git
	branch = master
